@using Backend.Contracts
@model List<Angebot>

<h1>ANGEBOTSÜBERSICHT</h1>
<a href="">+ neu</a>
<table>
    <tr>
        <th>ANGEBOTSNUMMER / BETREFF</th>
        <th>KUNDE</th>
        <th>DATUM</th>
        <th>BETRAG</th>
    </tr>

    @foreach (Angebot angebot in Model)
    {
        <tr>
        <td>
            @angebot.Id
            @angebot.Betreff
        </td>
        <td>@GetKundeById(angebot.KundeId)</td>
            <td>@angebot.Datum</td>
            <td>@angebot.Gesamt</td>
    </tr>
    }
  
</table>

@functions {
public string GetKundeById(Guid id)
        {
            IKundenFacade facade = new Backend.Impl.KundenFacade();
            IEnumerable<Kunde> alleKunden = facade.GetKunden();
            Kunde kunde = alleKunden.First(k => k.Id == id);
            return kunde.Name;
        } } 

